img {
    max-width: 100%;
    display: block;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}

div.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
}

@media (max-width:400px) {
    img {
        order: 2;
    }
}