.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.cabecalho-menu {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cabecalho-menu li a {
    display: block;
    text-decoration: none;
    color: #141414;
    padding: 10px 20px;
    font-size: 1.125rem;
}

@media (max-width:600px) {
    .cabecalho {
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    .cabecalho-menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .cabecalho-menu li a {
        background-color: #f5f5f5;
        font-size: 1rem;
    }
}